 * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
  font-weight: 200;    
  line-height: 1.7;
  color: black; 
  position: relative;
}
 
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  font-size: 7rem;
  text-align: center;
}
  
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
  
.header {
  background:white;
}
  
.footer {
  background:white;
  position: relative;
  height: 100%;
  width: 100%;
}
  
.main {
  flex-grow:2;
  text-align: left;
  background:url('../img/Skieblur.png');
  background-position: center;
  background-size: cover;
}

#image-sprite {    
  height: 750px;
  width: 750px;
  background: url("../img/calmer_sprite.png") 0px 0px;
  transition: ease-in-out;
  transform: scale(1);
}
.aside {
  background: white;
  position: relative;
}

.stresslevel {
  margin-top:50px;
  font-size:4rem;

}
.stresslevelimagebox {
  height: 100%;
  width: 100%;
} 
.stresslevelimage {
  margin-top:50px;
  left: 0;
  margin-left:0px;
} 

.footer div{
  position: relative;
  width: 170px;
  height: 100px;
  float: right;
  margin: 20px;
}
.footer::after{
  clear: both;
  display: block;
}

.button1{
  left:0px;
  
}
.button2{
  left:0px;
}
.button3{
  left:0px;
}
.button4{
  left:0px;
} 
.button {
  
  /* background-color: white; */
  color: black;
  border: 2px solid #555555;
  border-radius: 30%;
  padding: 16px 32px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute; 
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  /* left: -100px; */
}

.button1a {

}
 
/* .button:hover {
  background-color: #555555;
  color: white;
} */
  
@media all and (min-width: 400px) {
  .aside   { flex: 1 0; }
  .main    { flex: 3 0px; }
  .main    { order: 2; }
  .footer  { order: 3; }
}
 